server:
  port: 8080
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/nutri?useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: 1073031560a!
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
    generate-ddl: true
    show-sql: true